<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style type="text/css">
		.sidenav {
			height:100%;
			width:200px;
			position: fixed;
			z-index:1;
			top:0;
			left:0;
			background-color:#111;
			overflow-x: hidden;
			padding-top:20px;
		}
 
		.sidenav a {
			padding:6px 8px 6px 16px;
			text-decoration: none;
			font-size:25px;
			color: #818181;
			display:block;
		}
 
		.sidenav a:hover{
			color:#f1f1f1;
		}	
 
		.main{
			margin-left:200px;
			padding: 0px 10px;
		}
 
	</style>

    <title>Inventory My Home</title>
</head>
<body>
    <div class="sidenav">
        <a href="/">Home</a>
        <a href="/lists">View Lists</a>
        <a href="/create">Create New List</a>
		<a href="/login">Login</a>
		<a href="/register">Register a New Account</a>
    </div>
    
    <div id="content" name="content" class="main">
        <div class="row justify-content-center">
            <div class="col-8">
                <h1 class="mt-2">Inventory My Home</h1>
                <hr class="mt-0 mb-4">
				
				{% block content %}
				
				<h3>Welcome to Inventory My Home!</h3>
				<p>The purpose of this service is to give you an easy and convenient way to keep track of all the things in your life we accumulate over time.</p>
				<p>A few years ago, my home was broken in to and one of the hardest questions to answser was, "What's missing?"  There were obvious things that are easy to notice, but then for several of those, mainly electronics, I then had to file claims that needed paperwork with my insurance company.  I didn't have serial numbers and I hadn't kept receipts, so instead I had to play detective and track down that information in credit card histories and email receipts.  Couldn't this be easier?</p>

				<h4>Yes!</h4>
				<p>Inventory My Home's purpose is to make that process simple, by giving you a place to save that information so you can reference it later.  We all forget, we all don't realize when a piece of information might be needed, so why not take the stress out of it and keep things simple?</p>

				<h3>Getting Started</h3>
				<p>On the page sidebar, find the link to Create a New Account and click out.  Fill out the information to create your account and then login.  Once you've logged in to your account simple Create a New List and begin adding items.  While very simple right now, we will be continuall updating our system to have a better user experience and allow you to add as much information as you'd like to your lists.</p>


				{% endblock %}
				
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>