{% extends 'Inventory/base.html' %}

{% block content %}

    <h3>Add a New List</h3>

    <p>You can name your lists whatever you like, but our suggestion is to use the "container" type of whatever Inventory you are creating.  Preparing for a move?  Maybe label the list with a box number you also write on the box.  Just doing your home?  We recommend the name to be the room the items are in.  You could also make a list for just the electronics in your house and name it that, it really is up to you.</p>

    <form method="post" action="/create" class="form-group">
        {% csrf_token %}
        <div class="input-group mb-3">
            {{ form.name }}
            <button type="submit" name="submit" class="btn btn-success">Create New List</button>
        </div>
    </form>

{% endblock %}