{% extends 'Inventory/base.html' %}

{% block content %}

    <h1>{{ list.name }}</h1>

    <form method="post" action="#">
        {% csrf_token %}

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Serial Number</th>
                    <th>Purchased Where?</th>
                    <th>Amount Paid</th>
                    <th>Date Purchased</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in list.item_set.all %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.serial }}</td>
                        <td>{{ item.where_purchased }}</td>
                        <td>{{ item.purchase_amount }}</td>
                        <td>{{ item.date_purchased }}</td>
                        <td></td>
                    </tr>
                {% endfor %}

                    <tr>
                        
                        <td>
                            <div class="form-floating mb-3">
                                <input type="text" name="name" class="form-control" id="nameInput" placeholder="Name"/>
                                <label for="nameInput">Name</label>
                            </div>
                        </td>
                        <td>
                            <div class="form-floating mb-3">
                                <input type="text" name="serial" class="form-control" id="serialInput" placeholder="Serial Number"/>
                                <label for="serialInput">Serial Number</label>
                            </div>
                        </td>
                        <td>
                            <div class="form-floating mb-3">
                                <input type="text" name="where_purchased" class="form-control" id="where_purchasedInput" placeholder="Purchased Where?"/>
                                <label for="where_purchasedInput">Purchased Where?</label>
                            </div>
                        </td>
                        <td>
                            <div class="form-floating mb-3">
                                <input type="text" name="purchase_amount" class="form-control" id="purchase_amountInput" placeholder="Amount Paid?"/>
                                <label for="purchase_amountInput">Amount Paid</label>
                            </div>
                        </td>
                        <td>
                            <div class="form-floating mb-3">
                                <input type="date" name="date_purchased" class="form-control" id="date_purchasedInput" placeholder="Date Purchased"/>
                                <label for="date_purchasedInput">Data Purchased</label>
                            </div>
                        </td>
                        <td>
                            <div class="form-floating mb-3">
                                <button type="submit" name="submit" value="new_item" class="btn btn-primary btn-lg">Add New Item</button>
                            </div>
                        </td>
                    </tr>
            </tbody>
        </table>

        

    </form>

{% endblock %}